<% provide(:title,"Contact")%>
<h1>Contact</h1>

<p>
	<h3><b>Nguyen Thanh Trung - 20112383</b></h3>
	Email: <a href="mailto:trungnt.hedspi@gmail.com">trungnt.hedspi@gmail.com </a><br>
	Facebook: <a href="https://www.facebook.com/trungnt.hedspi">Nguyen Trung</a>
</p>
